@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f1eb;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


.menu {
  background-color: #f5f1eb;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
}

h1 {
    color: #9a5ff5;
    margin-bottom: 10px;
}

p {
    color: #555;
    margin-bottom: 30px;
}

.btn {
    display: block;
    width: 94%;
    padding: 12px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 15px;
}

.btn-agendar {
    background-color: #9a5ff5;
    color: white;
}

.btn-agendar:hover {
    background-color: #8344d8;
}

.btn-consultas {
    background-color: #f5f5f5;
    color: #333;
}

.btn-consultas:hover {
    background-color: #e0e0e0;
}

.logout {
    margin-top: 20px;
    display: inline-block;
    color: #d9534f;
    text-decoration: none;
    font-size: 14px;
}

.logout:hover {
    text-decoration: underline;
}

a{
    text-decoration: none;
}
