@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  background-color: #F5F1EB;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

img {
  width: 50%;
  height: 50%;
}

.container {
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #9a5ff5;
  font-size: 30px;
}

h2{
  margin-bottom: 100px
}


a {
  background-color: #9a5ff5;
  width: 400px;
  height: 100px;
  border-radius: 30px;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 15px;
  text-decoration:none;
}

a:hover{
    background-color: #6b28cf;
    transition: 0.5s;
}