<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>Consulta Agendada!</title>
    <link rel="icon" type="image/png" href="./static/images/vector.png">
    <link rel="stylesheet" href="./static/css/sucesso.css" />
    <script src="./static/js/main.js" defer></script>
  </head>
  <body>
    <div class="container">
      <div>
        <h1>Sua consulta foi agendada com sucesso!</h1>
        <p>Obrigado por escolher a PetCare. Entraremos em contato para confirmar os detalhes do atendimento.</p>
        <br>
        <a href="{{ url_for('home') }}">Voltar para o início</a>
      </div>
      <img class="logo" src="./static/images/sucessoo.png" alt="logo-petcare" />
    </div>
  </body>
</html>
